__pycache__/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.venv
env/
venv/
ENV/
.env
.idea/
upload/
token.txt
app.log
static/